run/integrator.cfg
run/data*
tarballs
Makefile.user
bin/swarm
bin/swarmdump
integrators/*/*.o
src/*.o
run/output.bin
run/*.bin
src/astro/*.o
src/cux/*.o
src/swarm.cu*
swarm.kdevelop.pcs
swarm.kdevses
*~
src/*~
*.d
src/libswarm.a
