test-outputs
run
run/data*
scripts/ic/data*
scripts/ic/observeTimes.dat
tarballs
Makefile.user
*.o
run/output.bin
run/*.bin
run/*.idx
run/observeTimes.dat
src/autogen_dont_edit.cu*
swarm.kdevelop.pcs
swarm.kdevses
*~
src/*~
*.d
bin/*
docs/*.html
feedback.*
.*.swp
CMakeFiles
lib
CMakeCache.txt
cmake_install.cmake
Makefile
